.App {
  text-align: center;
  background-color: #222831;
  color: #E8E8E8;
}

/* Inputs */
.moviesListInputs {
  padding: 20px;
}
.moviesListInputs > button {
  padding: 10px;
  background-color: #30475E;
  color: #E8E8E8;
  border-radius: 5px;
  font-size: 1rem;
}
.moviesListInputs > button:not(last-of-type) {
  margin-right: 10px;
}
.moviesListInputs > input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #30475E;
  color: #E8E8E8;
}

/* Movies list */
.moviesListCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

/* Movie cards */
.movieCard {
  padding: 20px;
  margin: 10px;
  width: 16vw;
  background-color: #30475E;
  color: #E8E8E8;
  border-radius: 10px;
}
h1 {
  color: #FFE459;
  font-size: 1.5rem;
}
ul {
  color: #F05454;
  list-style-type: none;
  padding: 0;
}